*, *::before, *::after {
    box-sizing: border-box;
}

html, body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: #1C1C1C;
    text-align: center;
    
    width: 100%;
    max-width: 550px;
    min-height: 100vh;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
}

header {
    background: url('images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 25%;
    background-color: rgb(0, 0, 0, 0.8);
    background-blend-mode:darken;
    height: 208px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: #FFFFFF;
    position: relative;
}

header h1 {
    font-size: 2.67rem;
    font-weight: 800;
}

#watchlist {
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

#watchlist:hover {
    color: #A5A5A5;
}

/* Search */
#search-container {
    position: absolute;
    top: 90%;
    
    display: flex;
    justify-content: start;
    align-items: center;
    
    width: 90%;
    background: #2E2E2F;
    border-radius: 6px 0 0 6px;
}

.search-bar {
    width: 80%;
    display: flex;
    justify-content: start;
    gap: 0.5em;
}

.search-bar i {
    margin-left: 1em;
}

#search-input {
    width: 88%;
    color: #A5A5A5;
    background: #2E2E2F;
    border: none;
}

#search-input::placeholder {
    color: #A5A5A5;
}

#search-button {
    background: #4B4B4B;
    color: #FFFFFF;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 1em 3em;
    cursor: pointer;
}

#search-button:hover {
    background: #5B5B5B;
}


main {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

/* Idle Content */
.idle {
    color: #2E2E2F;
    font-size: 1.125rem;
    font-weight: 700;
}

.idle-icon {
    font-size: 8vh;
}



