*, *::before, *::after {
    box-sizing: border-box;
}

html, body, h1, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: #1C1C1C;
    text-align: center;
    
    width: 100%;
    min-width: 313px;
    max-width: 550px;
    min-height: 100vh;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
}

header {
    background: url('images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 25%;
    background-color: rgb(0, 0, 0, 0.8);
    background-blend-mode:darken;
    height: 208px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: #FFFFFF;
    position: relative;
}

header h1 {
    font-size: 2.67rem;
    font-weight: 800;
}

.navigate {
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.navigate:hover {
    color: #A5A5A5;
}

/* Search */
#search-container {
    position: absolute;
    top: 90%;
    
    display: flex;
    justify-content: start;
    align-items: center;
    
    width: 90%;
    background: #2E2E2F;
    border-radius: 6px 0 0 6px;
}

.search-bar {
    width: 80%;
    display: flex;
    justify-content: start;
    gap: 0.5em;
}

.search-bar i {
    margin-left: 1em;
}

#search-input {
    width: 88%;
    color: #A5A5A5;
    background: #2E2E2F;
    border: none;
}

#search-input::placeholder {
    color: #A5A5A5;
}

#search-button {
    background: #4B4B4B;
    color: #FFFFFF;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 1em 3em;
    cursor: pointer;
}

#search-button:hover {
    background: #5B5B5B;
}


main {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding-top: 2em;
}
 .idle, .error-item, .empty-list {
    font-size: 1.125rem;
    font-weight: 700;
 }

/* Idle Content */
.idle {
    color: #2E2E2F;
}

.idle-icon {
    font-size: 8vh;
}

.error-item {
    color: #787878;
    width: 60%;
    margin: 0 auto;
}

.empty-list {
    margin: 1em;
    color: #787878;
}

.list-container a span {
    margin-right: .5em;
}

/* Individual Movies */

#movie-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.movie-item {
    display: flex;
    gap: 1em;
    border-bottom: 1px solid #2C2C2C;
    padding: 1.5em 1em;
}

.poster-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-container img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: #FFFFFF;
}

.info-container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
    width: 80%;
}

.rating, .details {
    font-size: 0.75rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.rating h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.runtime {
    text-align: start;
    width: 15%;
}

.list-container {
    display: flex;
    align-items: center;
    gap: .1em;
}

.list-container i {
    color: #FFFFFF;
    font-size: 1.2rem;
    cursor: pointer;
}

.watchlist-btn {
    background: #121212;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.watchlist-btn:hover {
    color: #A5A5A5;
}

.summary {
    text-align: start;
    color: #A5A5A5;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3;
}






